html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: #222;
  background-color: white;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-weight: bold;
  font-size: 10pt;
}

img {
  max-width: 100%;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2b2446;
  color: white;
  height: 56px;
  display: grid;
  grid-template-areas: "crumbs title";
  flex-direction: row;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  justify-items: flex-start;
  padding-left: 20px;
  align-items: center;
  z-index: 10000;
}
@media (max-width: 400px) {
  #header {
    grid-template-areas: "title" "crumbs";
    grid-template-rows: auto auto;
    justify-items: center;
  }
}

#content {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-areas: "nav map" "nav map";
  grid-template-columns: 320px auto;
  grid-template-rows: 1fr;
}
@media (max-width: 400px) {
  #content {
    grid-template-areas:
      "nav"
      "map";
    grid-template-columns: 1fr;
    grid-template-rows: 500px 1fr;
  }
}

#centerhead {
  grid-area: title;
}
#crumbs > ul {
  grid-area: crumbs;
  display: flex;
  list-style-type: none;
}
#crumbs > ul > li:before {
  content: ">";
  padding: 0.3em;
}
.scrips:before {
  content: none !important;
}
#crumb {
  padding-left: 1.25em;
  order: -1;
}

#centerhead {
  display: flex;
  flex: 1;
  justify-content: center;
  font-weight: normal;
  text-align: center;
  flex-direction: column;
}

#title {
  font-size: 18px;
}
div.title {
  display: block;
  font-size: larger;
  font-weight: bolder;
}

div.subtitle {
  display: block;
  font-size: smaller;
}

#about {
  align-self: center;
  padding: 0.5em;
}

#scriptures {
  height: 100%;
  overflow-x: hidden;
  z-index: -5;
}
.pane {
  transition: 0.3s all ease-in;
  width: 320px;
  height: 100%;
}
@media (max-width: 400px) {
  .pane {
    border-right: none !important;
  }
}
#scrip-pane {
  grid-area: nav;
  border-right: 1px solid #ddd;
}
#left-pane {
  position: absolute;
  left: -320px;
}
#right-pane {
  position: absolute;
  left: 320px;
}
#scripnav {
  position: absolute;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 320px;
}

#map {
  flex: 1 1 70%;
  grid-area: map;
}

.volume {
  padding: 0.5em;
  font-size: 12pt;
}

div.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0.3em;
  margin: 0;
}

div.books a {
  flex: 0 0 7em;
  font-weight: normal;
  margin: 0.4em;
  padding: 1em;
  background-color: #f6f9fb;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #222;
}

div.books a.chapter {
  flex: 0 0 4em;
}

.volume h5 {
  font-size: 1.24rem;
  margin: 0.72rem 0 0.556rem 0;
}

.books li {
  flex: 0 0 5.4em;
  align-content: center;
  list-style: none;
  height: 24px;
  min-width: 5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 0.5em 0 0.5em;
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 11pt;
  font-weight: normal;
  text-shadow: 2px 0px 2px rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border: solid 5px;
}

#crumb ul {
  padding: 0;
  margin: 0;
  line-height: 1;
}

#crumb li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

#header a:link,
#header a:visited,
#header a:active {
  color: white;
  text-decoration: none;
}

#header a:hover {
  color: #d0d0ff;
  text-decoration: underline;
}

#crumb li:not(:first-child)::before {
  content: ">";
  padding: 0.3em;
}

div.text {
  padding: 1em;
  font-weight: normal;
  font-size: 12pt;
}

.scripturewrapper {
  height: 100%;
  min-width: 220px;
  overflow-y: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12pt;
  font-weight: normal;
  background-color: white;
}

div.chapterheading {
  font-size: 14pt;
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
}

div.chapterheading b.big {
  font-size: 140%;
}

div.navheading {
  font-size: 13pt;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#scriptures ul.versesblock {
  margin: 0;
  line-height: auto;
  list-style: none;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 2em;
  font-size: 13pt;
}
.pane ul.versesblock {
  margin: 0;
  line-height: auto;
  list-style: none;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 2em;
  font-size: 13pt;
}

ul.versesblock li {
  margin-bottom: 0.3em;
}

ul.versesblock li.sectionHeader {
  font-style: italic;
}

span.verse {
  padding-left: 0.4em;
  padding-right: 0.3em;
}

.scripturewrapper li a:link,
.scripturewrapper li a:visited,
.scripturewrapper li a:active {
  color: #44b;
  text-decoration: none;
}

.scripturewrapper li a:hover {
  color: #4488ff;
  text-decoration: underline;
}

.navheading a:link,
.navheading a:visited,
.navheading a:active {
  color: #222;
  text-decoration: none;
}

.navheading a:hover {
  color: #4488ff;
  text-decoration: underline;
}

.navheading .nextprev {
  position: absolute;
  right: 1em;
}

li.match {
  background-color: #ffffcc;
}

#button-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
#buttons {
  position: absolute;
  background: linear-gradient(to top, #fff, rgba(0, 0, 0, 0));
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  width: 299px;
  z-index: 5;
}
#buttons > button {
  padding: 5px 10px;
  background-color: #52529c;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 2px 0px #ccc;
}
@media (max-width: 400px) {
  #buttons {
    width: calc(100% - 20px);
    top: calc(400px + 56px);
    bottom: inherit;
  }
}

ul.bread {
  margin: 0;
  padding: 0;
}
